@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-color: rgb(39, 39, 42);

  --text-color: rgb(161, 161, 170);
  --text-color-active: rgba(255, 255, 255);

  background-color: var(--main-color);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}